html,
body {
    font-size: 14px;
    color: #000000;
    background: #eff4fd;
}
.light-shadow {
    -webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.08);
}
.alert ul:last-child {
    margin-bottom: 0 !important;
}
.last-li-no-margin:last-child {
    margin-bottom: 0 !important;
}
.table-td-vertical-middle td {
    vertical-align:middle !important;
}
.data-header-row {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.display-none {
    display: none;
}

